.row-form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
	flex-direction: column;
}

.row-form-button-container {
	width: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row-form-text-field {
	margin: 5px;
	width: 100px;
}

.row-form-fields-container {
	display: flex;
}

.row-form-validation {
	color: red;
}
